*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/bc.png);
    background-size: cover;
    background-attachment: fixed;
}
label{
    display: block;
}
.container{
    background-color: rgb(248, 146, 21);
    width: 550px;
    padding: 40px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container h1 {
    text-align: center;
    padding-bottom: 30px;
}
ul li{
    list-style-type: none;
}
input {
    background-color: rgb(248, 146, 21);
    border: none;
    width: 450px;
    padding: 5px;
}
hr {
    width: 410px;
    padding-left: 40px;
}
form {
    padding-left: 40px;
}
label {
    padding-top: 10px;
    padding-bottom: 8px;
}
button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background-color: rgb(254, 183, 61);
}
button:hover {
    background-color: rgb(142, 90, 0);
    color: white;
}
.lo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    padding-right: 20px;
    color: white;
}
a{
    text-decoration: none;
    color: rgb(40, 40, 102);
}
a:hover {
    color: rgb(105, 105, 200);
}

.back {
    padding: 15px 15px;
    background-color: rgb(254, 183, 61);
    width: 35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 1190px;
    margin-top: -20px;
    cursor: pointer;
    color: black;
    
}
ion-icon {
    font-size: 30px;
    padding-left: 3.5px;
}

.back:hover {
    background-color: rgb(142, 90, 0);
    color: white;
}

.back a{
    text-decoration: none;
}